/* header */
#primera-li:hover {
    color: rgba(175, 80, 56, 0.719);
    border-bottom: 2px solid black;
}

#segunda-li:hover {
     color: rgba(175, 80, 56, 0.719);
     border-bottom: 2px solid black;
}

#tercera-li:hover {
     color: rgba(175, 80, 56, 0.719);
     border-bottom: 2px solid black;
}
.imagen {
 width: 50px;
}


/* main */

.titulo{
 background-color: rgba(175, 80, 56, 0.562);
 border-radius: 45px;
}

@media (max-width:890px){
     .tarjeta-3{
          margin-top: 50px;
     }
}

@media (max-width:616px){
     .tarjeta-2{
          margin-top: 50px;
     }
}




/* footer */


.footer-imagen{
 width: 50px;
}

